body {
  background-color: #FCFFD8;
}

h1 {
  color: #4040ff;
  font-size: 50px;
  font-family: cursive;
}

h3{
  color: #4040ff;
  font-size: 25px;
  font-family: cursive;
}

p {
  background-color: #fdffeb;
  font-family: cursive;
  text-indent: 20px;
}

ul {
  background-color: #fdffeb;
  font-family: cursive;
  text-indent: 20px;
}

ol {
  background-color: #fdffeb;
  font-family: cursive;
  text-indent: 20px;
}

#js {
  background-color: #fdffeb;
}
