body {
  background-color: white;
}

h1 {
  color: #242424;
  font-size: 100px;
  font-family: monospace;
}

h3 {
  color: #242424;
  font-size: 25px;
  font-family: monospace;
}

p {
  color: #242424;
  font-family: monospace;
  text-indent: 30px;
}

#content {
  color: white;
  width: 800px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 10px #242424;
}

#my-portrait {
  border: solid 10px #242424;
}

#lab-directory {
  color: #242424;
  font-family: monospace;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 10px #242424;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
