body {
  background-color: white;
}

h1 {
  color: #242424;
  font-size: 30px;
  font-family: monospace;
}

h2 {
  color: #242424;
  font-size: 25px;
  font-family: monospace;
}

h3 {
  color: #242424;
  font-size: 20px;
  font-family: monospace;
}

p {
  color: #242424;
  font-family: monospace;
  text-indent: 30px;
}

#content {
  color: white;
  width: 800px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 10px #242424;
}

.changed {
  color: #3e6e35;
  font-size: 20px;
  border: dashed 5px #d7fc03;
  font-family: fantasy;
}

.linkbox {
  color: #242424;
  font-family: monospace;
}
