body {
  background-color: white;
}

h1 {
  color: #242424;
  font-size: 30px;
  font-family: monospace;
}

h2 {
  color: #242424;
  font-size: 25px;
  font-family: monospace;
}

h3 {
  color: #242424;
  font-size: 20px;
  font-family: monospace;
}

p {
  color: #242424;
  font-family: monospace;
  text-indent: 30px;
}

#content {
  color: white;
  width: 800px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 10px #242424;
}

.linkbox {
  color: #242424;
  font-family: monospace;
}

.sectionbox {
  border: dashed 1px green;
  padding: 5px;
  margin: 5px;
}

.special {
  background-color: green;
  border: single 10px white;
}
