body {
  background-color: white;
}

h1 {
  color: #242424;
  font-size: 50px;
  font-family: monospace;
}

h2 {
  color: #242424;
  font-size: 25px;
  font-family: monospace;
}

p {
  color: #242424;
  font-family: monospace;
  text-indent: 30px;
}

#content {
  color: white;
  width: 800px;
  min-height: 300px;
  padding: 10px;
  margin: 10px;
  border: solid 10px #242424;
}

.output {
  color: #242424;
  font-family: monospace;
  margin: 10px;
}
